services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432" # Expose to localhost for local development
    environment:
      - POSTGRES_USER=meditrib
      - POSTGRES_PASSWORD=c3304125423f0
      - POSTGRES_DB=meditrib_db
    restart: always

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    environment:
      - DATABASE_URL=postgresql://meditrib:c3304125423f0@db/meditrib_db
      - SECRET_KEY=YOUR_SUPER_SECRET_KEY_CHANGE_ME_IN_PROD
      - BACKEND_CORS_ORIGINS=["http://localhost", "http://127.0.0.1"]
    depends_on:
      - db
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data:
